#form1{
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    background-color:indigo;
    border-radius: 10px;
    padding: 25px;
} /* form1*/

#form2{
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    background-color: indigo;
    border-radius: 10px;
    padding: 25px;
} /* form2*/

#calculate{
    background-color:green;
    color:white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    cursor:pointer;
} /* calculate button*/

#reset{
    background-color:black;
    color:white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    cursor:pointer;
} /* reset button*/

#back{
    background-color:blue;
    color:white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    font-weight: bolder;
    cursor:pointer;
} /* back button*/

#title{
    background-color:mediumpurple;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} /*title*/

#table{
    background-color:papayawhip;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    margin-right: 60%;
    width: 600px;
    text-align: center;
    font-size: 20px;
} /* form1 and form2 table*/

#background{
background-image: url(background.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
} /*background*/

#total{
    background-color:lightcoral;
}